*{
    margin:0;
    padding: 0;
    color: green;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1,h3{
    font-size: 60px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form .form-row{
    display: block;
    color: red;
}
